<div class="projects-container">
    <p>Here are some of the select personal projects I've built:</p>
    <p>See <span class="link-to-github" (click)="goToGitHub()">my Github</span> for more projects.</p>
    <div class="personal-projects-contanier">
        <div class="single-project" *ngFor="let project of this.projects">
            <mat-card class="project-card">
                <span (click)="goToGithubPoject(project.githubLink)" class="project-name">{{project.name}}</span>
                <img class="img-fluid" src="assets/images/{{project.image}}" alt="{{project.name}} thumbnail">
                <span class="project-description">{{project.description}}</span>
                <br><br>
                <span class="project-tech-stack">Tech Stack: {{project.techStack}}</span>
                <br><br>
                <span class="link-to-project" (click)="goToLiveProject(project.liveDemoLink)">Try it out!</span>
            </mat-card>
        </div>
    </div>
</div>