<div>You can contact me though any of these social media channels!</div>
<div class="social-links">
        <div class="social-btns">
            <a class="btn github" (click)="goToGitHub()">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn instagram" (click)="goToInstagram()">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn youtube" (click)="goToYoutube()">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="btn linkedin" (click)="goToLinkedin()">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
    <br><br>
<p>Image compression powered by: <i style="color: #309E4A;" class="fab fa-pied-piper-pp fa-2x"></i></p>