<div class="instagram-component-container">
    <h2>Instagram</h2>
    <span>One of my main hobbies is photography. I shoot on an iPhone SE & Canon 100d.</span>
    <span (click)="openInstagram()" class="link-to-instagram">Go to my intagram.</span>
    <div class="image-container">
        <div class="single-image-container" *ngFor="let image of this.urls | slice:0:9">
            <picture>
                <img [src]="image.url" class="single-image img-thumbnail" alt="recent instagram image">
            </picture>
        </div>
    </div>
</div>