.instagram-component-container {
    width: 100%;
    margin-bottom: 25px;
}

.link-to-instagram:hover {
    cursor: pointer;
    text-decoration: underline;
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-image {
    width: 250px;
    height: 220px;
    margin: 15px;
}
