<div class="development-container">
    <h2>Development</h2>
    <p>Key Skills:</p>
    <div class="skills-div">
        <div class="skill-container">
            <span>HTML</span>
            <i class="fab fa-html5 fa-3x skill-html"></i>
        </div>
        <div class="skill-container">
            <span>CSS</span>
            <i class="fab fa-css3-alt fa-3x skill-css"></i>
        </div>
        <div class="skill-container">
            <span>Javascript</span>
            <i class="fab fa-js fa-3x skill-javascript"></i>
        </div>
        <div class="skill-container">
            <span>Angular</span>
            <i class="fab fa-angular fa-3x skill-angular"></i>
        </div>
        <div class="skill-container">
            <span>NodeJS</span>
            <i class="fab fa-node-js fa-3x skill-node"></i>
        </div>
        <div class="skill-container">
            <span>MongoDB</span>
            <i class="fas fa-database fa-3x skill-mongo"></i>
        </div>
    </div>
    <p>I also know how to work with:</p>
    <div class="skills-div">
        <div class="secondary-skills-container">
            <span>Git</span>
            <i class="devicon-git-plain colored"></i>
        </div>
        <div class="secondary-skills-container">
            <span>Bootstrap</span>
            <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="secondary-skills-container">
            <span>jQuery</span>
            <i class="devicon-jquery-plain colored"></i>
        </div>
        <div class="secondary-skills-container">
            <span>Typescript</span>
            <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="secondary-skills-container">
            <span>Heroku</span>
            <i class="devicon-heroku-plain colored"></i>
        </div>
        <div class="secondary-skills-container">
            <span>Express</span>
            <i class="devicon-express-original colored"></i>
        </div>
    </div>
</div>