.youtube-component-container {
    width: 100%;
}

.youtube-about {

}

.link-to-youtube:hover {
    cursor: pointer;
    text-decoration: underline;
}

.youtube-iframe-container {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
}

.youtube-iframe {
    width: 560px; 
    height: 315px;
    align-self: center;

}