<div class="youtube-component-container">
    <h2>Youtube</h2>
    <div class="youtube-about">
        <span>Along with photography, I also enjoy building my Youtube channel.
            I produce content mainly about web development. </span>
        <span>Currently my channel has <strong>{{currentSubscribers}}</strong> subscribers.</span>
        <span class="link-to-youtube" (click)="goToYoutube()">See me on Youtube</span>
    </div>
    <div class="youtube-iframe-container">
        <iframe class="youtube-iframe" src="http://www.youtube.com/embed?listType=playlist&list=PLjHDDFMzKrqKmrHnco0036fM6d9AONNAg&autoplay=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>