<div class="introduction-container">
    <p>
        I've been programming since 2016 and would call myself a full stack web developer.
        But I beleive that to be a strong developer, you need more than just programming skills.
        Being able to understand what problem you are trying to solve is just as important.
    </p>
    <strong>What I can do:</strong>
    <p>
        <strong>Programming:</strong> I work with the MEAN stack with Angular 5 on the front end, but I am equally capable with AngularJS.
        See <span>my CV</span> for a more detailed skill breakdown.
    </p>
    <p>
        <strong>Digital Marketing:</strong> Alongside development, I've built my skills as a digial marketer, focusing on building social followings, SEO, ecommerce, and traffic
        generation though Google Adwords, Facebook and Instagram Ads.
    </p>
    <strong>What sets me apart</strong>
    <p>
        I have a range of interdisciplinary skills: My previous professional experiance has taken me from sales to IT recruitment.
        From Technical support to building a customer service department for a casual mobile gaming company.
    </p>
    <p>
        I can see the big picture: Having had a wide range of varied roles, I can see the outcome of my work from many different angles.
        This is what I think is important in a developer, being able to take a step back from a project and understand it from all directions.
    </p>
</div>