<div class="about-main-container">
    <div class="image-me-container">
        <img class="image-me" src="./../../../assets/images/profilepic.jpg">
    </div>
    <div class="about-me-text">
        <p>
             Hello, I'm Ben Akehurst. I'm a Full Stack Web Developer. Scroll down to learn about me.
        </p>
    </div>
    <div class="social-links">
        <div class="social-btns">
            <a class="btn github" (click)="goToGitHub()">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn instagram" (click)="goToInstagram()">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn youtube" (click)="goToYoutube()">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="btn linkedin" (click)="goToLinkedin()">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>