.flex-container {
    width: 100vw;
    padding: 35px;
    font-family: 'Open Sans', sans-serif;
}

.about-me-div {
    float: left;
    outline-style: solid;
    outline-color: red;
    width: 33%;
    height: 100px;
}

.information-div {
    outline-style: solid;
    outline-color: yellow;
    width: 66%;
    float: right;
}