<div class="page-conatiner">
  <header></header>
  <main class="flex-container">
    <div class="about-me-div info-div">
      <app-about></app-about>
    </div>
    <div class="information-div info-div">
      <mat-tab-group [disableRipple]=true>
        <mat-tab label="About Me">
          <app-introduction></app-introduction>
        </mat-tab>
        <mat-tab label="Programming">
          <app-development></app-development>
          <app-projects></app-projects>
        </mat-tab>
        <!-- <mat-tab label="Resume">
          <app-resume></app-resume>
        </mat-tab> -->
        <mat-tab label="Hobbies">
          <app-instagram></app-instagram>
          <app-youtube></app-youtube>
        </mat-tab>
      </mat-tab-group>
    </div>
  </main>
  <footer></footer>
</div>
